<table class="table">
    <thead>
      <tr>
        <th scope="col">รหัสการกู้</th>
        <th scope="col">รหัสผู้ใช้</th>
        <th scope="col">ชื่อ - นามสกุล</th>
        <th scope="col">รหัสบัตรประชาชน</th>
        <th scope="col">สถานะ</th>
        <th scope="col">ยอดกู้</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loanTransaction of LoanTransactions; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ loanTransaction.transactionId }}</td>
        <td>{{ loanTransaction.accountId }}</td>
        <td>{{ loanTransaction.firstName }}</td>
        <td>{{ loanTransaction.lastName }}</td>
        <td>{{ loanTransaction.citizenId }}</td>
        <td>{{ loanTransaction.status }}</td>
        <td>{{ loanTransaction.loanAmount }}</td>
      </tr>
    </tbody>
  </table>